header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #F2F2F2;
    text-align: center;
    line-height: 0;
}

header img {
    height: 50px;
}